In [10]:
from pandas import *

In [11]:
dataset = read_csv("air_pollution_data.csv")


# creating a pandas dataframe object using dataset
air_pollution_dataframe = DataFrame(dataset)
air_pollution_dataframe.dropna()

#

Empty DataFrame
Columns: [aqi, date, location, state, region, carbon_monoxide, nitrogen_monoxide, nitrogen_dioxide, ozone, sulphur_dioxide, fine_particles_matter, coarse_particulate_matter, ammonia2, 2023-06-01 00:00:00, Kano City, Kano State, North-West, 574.11, 0, 4.63, 25.39, 4.41, 19.44, 26.47, 2.183, 2023-06-01 00:00:00.1, Kano City.1, Kano State.1, North-West.1, 1041.41, 0.1, 8.05, 38.62, 3.67, 41.77, 67.17, 11.78]
Index: []

[0 rows x 37 columns]